* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border-radius: 5px;
}

body {
   background-image: url(hd.jpg);
   background-repeat: no-repeat;
   font-family: monospace;
}

/* ------------------------------ header ------------------------------ */
.header {
   height: 100px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #3a3a3a88;
   top: 0px;
   position: sticky;
}
.left-nav {
   display: flex;
   align-items: center;
}
img {
   width: 150px;
   height: auto;
   margin: 10px;
}
input[type="search"] {
   width: 200px;
   height: 30px;
   padding: 5px;
}
/* ------ navigator ------ */
.navigator {
   width: fit-content;
   margin: 24px 0px;
}
.navigator li {
   display: inline-block;
   padding: 20px;
}

.navigator li a {
   text-decoration: none;
   color: white;
   font-family: "Roboto", "sans-serif";
   font-size: 25px;
   padding: 15px;
   border-radius: 0px;
}

.navigator li a:hover {
   border-bottom: 3px solid white;
}
/* ------------------------------ centerP ------------------------------ */
.centerP {
   margin-top: 100px;
}

h1 {
   text-align: center;
   color: white;
   text-transform: uppercase;
   font-size: 100px;
}

.button {
   text-align: center;
   margin: 20px;
}
.centerP .btn:last-child {
   margin-right: 0px;
}
/* --------------------------- style of buttons and links --------------------------- */
.btn {
   border: 1px solid white;
   border-radius: 0px;
   padding: 10px 30px;
   color: white;
   background-color: #6494ed60;
   text-decoration: none;
   margin-right: 20px;
   font-size: 26px;
   text-transform: uppercase;
}
.btn:hover {
   color: cornflowerblue;
   background-color: whitesmoke;
}

/* ------------------------------ products ------------------------------ */
.products-container {
   margin: 300px auto 0px; /* margin: top (right&left) bottom */
   width: 100%;
   background-color: rgb(245, 245, 245);
   overflow: auto; /* to make (margin top) able to work inside his parent  */
}
h2 {
   font-size: 60px;
   text-align: center;
   margin: 50px 0px;
}

.product-table {
   width: 80%;
   margin-inline: auto; /* horizontal margin */
   font-size: 30px;
   border-collapse: collapse; /* remove verical borders of  the table*/
}
.product-table td,
.product-table th {
   text-align: center;
   padding: 10px;
   width: calc(100% / 3);
}
tbody {
   border-spacing: 0px;
}
.product-table thead th {
   color: whitesmoke;
   background-color: black;
   border: 5px solid white;
}
.product-table tbody td {
   border-radius: revert;
   border-bottom: 3px solid black;
}
.product-table tbody td img {
   width: 80%;
   height: auto;
}
